# A obtenir sur https://francetravail.io (portail développeur, compte + création d'application)
# Souscrire à l'API "Offres d'emploi v2" pour générer ces identifiants
FT_CLIENT_ID=<votre_client_id>
FT_CLIENT_SECRET=<votre_client_secret>
